#navigation {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
  height: 90%;
  font-size: 1.1em;
  text-align: center;
  margin-right: 40px;
}

#nav_item {
  padding: 20px;
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
}
#NavTitle {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

#title {
  background-color: #326fa8;
}
